.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    background-color: whitesmoke;
}

@media only screen and (max-width: 800px) {
 .main {
     flex-direction: column;
     align-items: center;
     height: fit-content;
     padding-bottom: 30px;
 }
}


.main .first {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
.main .first {
    display: flex;
    width: 100%;
 }
}

.main .first .socials {
    padding-left: 25%;
}


@media only screen and (max-width: 800px) {
    .main .first .socials{
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
 }
}

.main .first .socials .icon {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 30px;
    border-right: 1px solid orange;
}


@media only screen and (max-width: 800px) {
    .main .first .socials .icon {
        border-right: none;
        border-bottom: 1px solid orange;
        font-size: 30px;
        padding-left: 10px;
    }
}


@media only screen and (max-width: 800px) {
    .main .first .socials .icon:last-child {
        border-bottom: none;
    }
}

.main .second {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .main .second {
        width: 80vw;
    }
    
}
.main .second .info .hey {
    color: orange;
    font-size: 25px;
}

@media (max-width: 800px) {
    .main .second .info .hey {
        padding-top: 20px;
    }  
}

.main .second .info .name {
    margin-top: -10px;
    font-size: 50px;
}

.main .second .job {
    margin-top: -30px;
}

.main .second .job .title {
    font-size: 25px;
    font-weight: 500;
}

.main .second .job .description {
    margin-top: -15px;
    font-size: 20px;
    font-weight: 300;
}

.main .second .actions {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

@media (max-width: 800px) {
    .main .second .actions {
        flex-direction: column;
    }
    .main .second .actions .contact {
        padding-right: 0px;
        padding-top: 20px;
        padding-left: 0px;
        width: 80vw;
    }
}

.main .second .actions .cv {
    padding-right: 20px;
}

.main .second .actions .cv button {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .main .second .actions .cv button {
        width: 80vw;
        padding-left: 0px;
    }
}

.main .second .actions .cv button:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
    box-shadow: rgb(179, 119, 8);
    transition: .5s;
    transition-timing-function: ease-out;
}

.main .second .actions .contact {
    padding-left: 20px;
}

@media(max-width: 800px) {
    .main .second .actions .contact {
        padding-left: 0px;
    }
}


.main .second .actions .contact button {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .main .second .actions .contact button {
        width: 80vw;
        padding-left: 0px;
    }
}

.main .second .actions .contact button:hover {
    background-color: orange;
    color: white;
    box-shadow: rgb(179, 119, 8);
    transition: .5s;
    transition-timing-function: ease-out;
}

.main .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

@media only screen and (max-width: 800px) {
    .main .third {
        display: none;
    }
}


.main .third img {
    height: 100%;
    width: 75%;
}

.stats .skills {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 15vh;
    border-radius: 100px;
    margin-top: -7vh;
    -webkit-box-shadow: 1px 1px 18px 3px rgba(0,0,0,0.28); 
    box-shadow: 1px 1px 18px 3px rgba(0,0,0,0.28);
    background-color: white;
    position: absolute;
    left: 15%;
}
@media (max-width: 800px) {
    .stats .skills {
       display: none;
    }
}
.stats .skills:last-child {
    padding-right: 40px;
}

@media (max-width: 800px){
    .stats .skills:last-child {
        padding-right: 0px;
    }
}

.stats .skills:middle-child {
    border-left: 1px solid grey;
}

.stats .skills .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

@media (max-width: 800px) {
    .stats .skills {
        flex-direction:  column;
    }
    .stats .skills .skill {
        padding-left: 0px;
    }
}
.stats .skills .skill .description {
    padding-left: 50px;
}

.stats .skills .skill .description .title {
    font-size: 25px;
    font-weight: 600;
}

.stats .skills .skill .description .desc {
    font-size: 15px;
    font-weight: 300;
    margin-top: -15px;
}

.about {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20vh;
    height: fit-content;
    padding-bottom: 30px;
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        height: fit-content;
        margin-top: 5vh;
    }
}
.about .about-me {
    display: flex;
    border-style: solid;
    width: 30%;
    height: 480px;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to right top, #d4eef4, #e1f1fa, #eef5fd, #f8fafe, #ffffff);
}

@media (max-width: 800px) {
    .about .about-me {
        height:fit-content;
        width: 80vw;
    }
}

.about .about-me img {
    height: 480px;
    width: 500px;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    .about .about-me img {
        width:85vw;
    }
}

.about .description {
    width: 40%;
    margin-left: 100px;
}

@media(max-width: 800px) {
    .about .description {
        width:80vw;
        margin-left: 0px;
    }
}

.about .description .title {
    color: orange;
    font-weight: 400;
}

.about .description .text .heading {
    font-weight: 600;
    font-size: 40px;
    margin-top: -20px;
}
 
.about .description .text .desc {
    font-weight: 300;
    font-size: 17px;
    margin-top: -20px;
}

@media (max-width: 800px) {
     
.about .description .text .desc {
 font-size: 20px;
}

}

.about .description .bio {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.about .description .bio .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

@media (max-width: 800px) {
    .about .description .bio .name {
        display: inline;
        font-weight:500 
    }
    .about .description .bio .name .icon .icon{
        display: none;
    }
    .about .description .bio .name .icon .name {
        display: none;
    }
}

.about .description .bio .name .icon {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}


.about .description .interests {
    margin-top: 20px;
}


.about .description .interests .heading {
    font-size: 20px;
    font-weight: 500;
}

.about .description .interests .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
}

@media (max-width: 800px) {
    .about .description .interests .list {
        flex-direction: column;  
        padding-bottom: 40px; 
    }
}

.about .description .interests .list .icon {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .about .description .interests .list .icon {
        justify-content: flex-start;
        }
}

.about .description .interests .list .icon .text {
    padding-top: 0px;
    padding-left: 10px;
}


.skillset {
    min-height: 70vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillset .why-me {
    color: orange;
    font-size: 17px;
}
.skillset .my-skills {
    font-weight: 700;
    font-size: 30px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 3px solid orange; */
    padding-bottom: 10px;
}

.skillset .visualization {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .skillset .visualization {
        flex-direction: column;
        padding-bottom: 40px;
    }
}


.skillset .visualization .right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skillset .visualization .middle {
    width: 200px;
    
}

.skillset .visualization .right .language {
    width: 50%;
}

@media (max-width: 800px) {
    .skillset .visualization .right .language .progress-bar{
        width: 80vw;

        border: 1px solid black;
    }
}

.skillset .visualization .right .language .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight:500;
}


.previous-works {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previous-works .previously {
    color: orange;
    font-size: 17px;
}
.previous-works .title {
    font-weight: 700;
    font-size: 30px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 3px solid orange; */
    padding-bottom: 10px;
}


.previous-works .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
}

@media (max-width: 800px) {
    .previous-works .grid {
        grid-template-columns: auto;
    };
}

.previous-works .grid .item {
    width: 650px;
    -webkit-box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.27); 
    box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.27);
}


@media (max-width: 800px){
    .previous-works .grid .item {
        width: 80vw;
    }
}

.previous-works .grid .item:hover {
    padding-top: -10px;
    -webkit-box-shadow: 1px -4px 12px 6px rgba(0,0,0,0.27); 
    box-shadow: 1px -4px 12px 6px rgba(0,0,0,0.27);
}

.previous-works .grid .item .thumbnail {
    height: 300px;
    width: 100%;
}

.previous-works .grid .item .text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.previous-works .grid .item .timeframe {
    font-style: italic;
    font-size: 15px;
    font-weight: 200;
}

.previous-works .grid .item .description {
    font-size: 20px;
    font-weight: 350;
}

.contact-me {
    padding-top: 10vh;
}

.footer {
    height: 20vh;
    background-color: rgb(9, 9, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin-top: -5px;
    color: white;
}